/certkit
dist/
tmp/
temp/
input/
output/
bundles/

*.key
*.pem
*.crt
*.csr
*.json
!package.json
!package-lock.json
*.db
*.log
*.der
*.p12


.aider*
.DS_Store
.idea/
.vscode/

changes.md
*.local.*

node_modules/

# WASM build artifacts
/wasm
*.wasm
web/public/wasm_exec.js

